/*
Syntax error: File to import not found or unreadable: compass.
              Load paths:
                /home/rick/workspace/web/myon
                /home/rick/workspace/web/myon
        on line 1 of ./sass/manga.css.scss

1: @import "compass";
2: @import url("./font-awesome.min.css");
3: 
4: .container {
5: //  background-color: rgb(240, 240, 240);
6:   min-width: 500px;

Backtrace:
./sass/manga.css.scss:1
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:463:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:23:in `load'
/usr/local/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load paths:\A                 /home/rick/workspace/web/myon\A                 /home/rick/workspace/web/myon\A         on line 1 of ./sass/manga.css.scss\A \A 1: @import \"compass\";\A 2: @import url(\"./font-awesome.min.css\");\A 3: \A 4: .container {\A 5: //  background-color: rgb(240, 240, 240);\A 6:   min-width: 500px;"; }
