!!! 5

%meta{:charset => "utf-8"}/
%title みょんさんの。
%link{:href => "stylesheets/pure-min.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/custom.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/lightbox.css", :rel => "stylesheet"}/
%script{:src => "javascript/prototype.lite.js"}
%script{:src => "javascript/moo.fx.js"}
%script{:src => "javascript/litebox-1.0.js"}

