!!! 5

%meta{:charset => "utf-8"}/
%meta{:name => "viewport", :content => "width=device-width,initial-scale=1.0"}/
%title みょんさんの。
%link{:href => "stylesheets/pure-min.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/custom.css", :rel => "stylesheet"}/
%link{:href => "stylesheets/lightbox.css", :rel => "stylesheet"}/
%script{:src => "javascripts/prototype.lite.js"}
%script{:src => "javascripts/moo.fx.js"}
%script{:src => "javascripts/litebox-1.0.js"}
