%nav
  %ul
    %li.menu-heading
      メニュー
    %li
      %a{:href => "index.html"} トップ
    %li
      %a{:href => "games.html"} ゲームとか
    %li
      %a{:href => "pictures.html"} ギャラリー
    %li
      %a{:href => "manga.html"} web漫画
    %li
      %a{:href => "memo.html"} 雑記
    %li
      %a{:href => "info.html"} サイトについて
    %li
      %p
        web拍手
      %p
        :erb
          <a href="http://clap.webclap.com/clap.php?id=ioijoikoiloi" target="_blank" onclick="window.open('http://clap.webclap.com/clap.php?id=ioijoikoiloi','webclap','toolbar=no,location=no,directories=no,status=no,scrollbars=yes,resizable=yes');return false;"><img src="img/design/clap0.png" onmouseover="this.src='img/design/clap1.png'" onmouseout="this.src='img/design/clap0.png'" width=100px height=100px></a>
