%nav
  %ul
    %li.menu-heading
      メニュー
    %li
      %a{:href => "index.html"} トップ
    %li
      %a{:href => "games.html"} ゲームとか
    %li
      %a{:href => "pictures.html"} ギャラリー
    %li
      %a{:href => "memo.html"} 雑記
    %li
      %a{:href => "info.html"} サイトについて
