= Haml::Engine.new(File.read("haml/_header.haml")).render

%header#logo
  .pure-g-r
    .pure-u-3-24
    .pure-u-4-5#nologo-content
      %h1
        %a{:href => "http://myuon.digi2.jp/"} みょんさんの。

.pure-g-r
  .pure-u-3-24
    = Haml::Engine.new(File.read("haml/_nav.haml")).render
  .pure-u-4-5#content
    %article
      %header
        %h2 このサイトについて
      %section
        %h3 管理者について
        %p
          管理者は
          %a{:href => "https://twitter.com/myuon_myon"}<>
            @myuon_myon
          です。気が向いたら更新しようと思います。
        %p
          最近はTwitterにいることが多いです。Haskellで遊んだりゲームを創ったり絵を描いたりするのが好きです。

        %h3 サイトについて
        %p
          このサイトのリポジトリは以下です。
        %p
          %a{:href => "https://github.com/myuon/website", :target => "_blank"} myuon/website
        %p
          また、このサイトは以下の技術によって支えられています。
          %ul
            %li
              %a{:href => "http://haml.info/", :target => "_blank"} haml
            %li
              %a{:href => "http://sass-lang.com/", :target => "_blank"} sass
            %li
              %a{:href => "http://compass-style.org/", :target => "_blank"} compass
            %li
              %a{:href => "http://fortawesome.github.io/Font-Awesome/", :target => "_blank"} font-awesome
            %li
              %a{:href => "http://www.doknowevil.net/litebox/", :target => "_blank"} litebox
            %li
              %a{:href => "http://purecss.io/", :target => "_blank"} Pure
            %li
              %a{:href => "https://github.com/guard/guard", :target => "_blank"} guard

= Haml::Engine.new(File.read("haml/_footer.haml")).render


