= Haml::Engine.new(File.read("haml/_header.haml")).render

%header#logo
  .pure-g-r
    .pure-u-3-24
    .pure-u-4-5#nologo-content
      %h1
        %a{:href => "http://myuon.digi2.jp/"} みょんさんの。

.pure-g-r
  .pure-u-3-24
    = Haml::Engine.new(File.read("haml/_nav.haml")).render
  .pure-u-4-5#content
    %article
      %header
        %h2 ギャラリー
      %section.pure-u-4-5.grid-gallery
        %p Twitterとかで使ったやつ
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "人をダメにするやつに座った人", :href => "img/icon/sofa_icon_color.png"}
            %img{:src => "img/icon/100/sofa_icon_color.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "不機嫌なルーフェちゃん", :href => "img/icon/lufe_old.png"}
            %img{:src => "img/icon/100/lufe_old.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ルーフェジト目", :href => "img/icon/lufe_icon.png"}
            %img{:src => "img/icon/100/lufe_icon.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "右目ちゃん", :href => "img/icon/righteye.png"}
            %img{:src => "img/icon/100/righteye.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "右目ちゃん照れ顔", :href => "img/icon/righteye_tere.png"}
            %img{:src => "img/icon/100/righteye_tere.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "左目ちゃんジト目", :href => "img/icon/lefteye.png"}
            %img{:src => "img/icon/100/lefteye.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ基本", :href => "img/icon/dayo_icon.png"}
            %img{:src => "img/icon/100/dayo_icon.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ差分(汗)", :href => "img/icon/dayo_icon_ase.png"}
            %img{:src => "img/icon/100/dayo_icon_ase.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ差分(><)", :href => "img/icon/dayo_icon_yorokobi.png"}
            %img{:src => "img/icon/100/dayo_icon_yorokobi.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ差分(o_o;)", :href => "img/icon/dayo_icon_odoroki.png"}
            %img{:src => "img/icon/100/dayo_icon_odoroki.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ帽子", :href => "img/icon/dayo_hat.png"}
            %img{:src => "img/icon/100/dayo_hat.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ猫", :href => "img/icon/dayo_icon_neko_dayo.png"}
            %img{:src => "img/icon/100/dayo_icon_neko_dayo.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ冬", :href => "img/icon/dayo_icon_winter.png"}
            %img{:src => "img/icon/100/dayo_icon_winter.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝクリスマス", :href => "img/icon/dayo_christmas.png"}
            %img{:src => "img/icon/100/dayo_christmas.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "ﾀﾞﾖｰｱｲｺﾝ蛇年", :href => "img/icon/dayo_icon_new_year_snake.png"}
            %img{:src => "img/icon/100/dayo_icon_new_year_snake.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "さとりちゃん+λマーク", :href => "img/icon/satori_lambda.png"}
            %img{:src => "img/icon/100/satori_lambda.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "みすちー+λマーク", :href => "img/icon/mistia_lambda.png"}
            %img{:src => "img/icon/100/mistia_lambda.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "おやすみ世界", :href => "img/icon/sleeping.png"}
            %img{:src => "img/icon/100/sleeping.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "だめです！", :href => "img/icon/damedesu.png"}
            %img{:src => "img/icon/100/damedesu.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "隠れ", :href => "img/icon/pakipaki.png"}
            %img{:src => "img/icon/100/pakipaki.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "目パチgif", :href => "img/icon/mepachi.gif"}
            %img{:src => "img/icon/100/mepachi.gif"}/

        %p
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "しのちゃん(σ回ω・)σ←↖↑↗→↘↓↙←↖↑↗", :href => "img/icon/kurukuru.gif"}
            %img{:src => "img/icon/100/kurukuru.gif"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "(21)", :href => "img/icon/21.jpg"}
            %img{:src => "img/icon/100/21.jpg"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "さささささー", :href => "img/icon/sasasa.png"}
            %img{:src => "img/icon/100/sasasa.png"}/
        .pure-u
          %a{:rel => "lightbox[icon]", :title => "くるがやさん", :href => "img/icon/kurugaya.png"}
            %img{:src => "img/icon/100/kurugaya.png"}/

        %p 便利画像系
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "カバン制服", :href => "img/content/reply19.png"}
            %img{:src => "img/content/100/reply19.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "眠い", :href => "img/content/reply1.png"}
            %img{:src => "img/content/100/reply1.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "殺伐TL", :href => "img/content/reply22.png"}
            %img{:src => "img/content/100/reply22.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "よしよし", :href => "img/content/reply0.png"}
            %img{:src => "img/content/100/reply0.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ここに好きな文字を入れよう", :href => "img/content/reply2.png"}
            %img{:src => "img/content/100/reply2.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "お前は何を言ってるんだ", :href => "img/content/reply3.png"}
            %img{:src => "img/content/100/reply3.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ゆで卵もぐもぐ", :href => "img/content/reply4.png"}
            %img{:src => "img/content/100/reply4.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ザコめ", :href => "img/content/reply5.png"}
            %img{:src => "img/content/100/reply5.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "だめです。", :href => "img/content/reply6.png"}
            %img{:src => "img/content/100/reply6.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "だむです。", :href => "img/content/reply7.png"}
            %img{:src => "img/content/100/reply7.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ぽよー", :href => "img/content/reply8.png"}
            %img{:src => "img/content/100/reply8.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "だめですぽよ", :href => "img/content/reply9.png"}
            %img{:src => "img/content/100/reply9.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "テンプレ", :href => "img/content/reply10.png"}
            %img{:src => "img/content/100/reply10.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "お帰りください", :href => "img/content/reply11.png"}
            %img{:src => "img/content/100/reply11.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "自明", :href => "img/content/reply12.png"}
            %img{:src => "img/content/100/reply12.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "好きな文字を入れよう", :href => "img/content/reply14.png"}
            %img{:src => "img/content/100/reply14.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "テンプレ", :href => "img/content/reply15.png"}
            %img{:src => "img/content/100/reply15.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "いい加減寝ましょう", :href => "img/content/reply16.png"}
            %img{:src => "img/content/100/reply16.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "あー", :href => "img/content/reply17.png"}
            %img{:src => "img/content/100/reply17.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "だむかぁ…", :href => "img/content/reply18.png"}
            %img{:src => "img/content/100/reply18.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "(๑´ڡ`๑)", :href => "img/content/reply20.png"}
            %img{:src => "img/content/100/reply20.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ŧ‹゛ŧ‹゛(๑´ㅂ`๑)ŧ‹゛ŧ‹゛", :href => "img/content/reply21.png"}
            %img{:src => "img/content/100/reply21.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "顔0", :href => "img/content/reply24.png"}
            %img{:src => "img/content/100/reply24.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "顔1", :href => "img/content/reply23.png"}
            %img{:src => "img/content/100/reply23.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "顔2", :href => "img/content/reply25.png"}
            %img{:src => "img/content/100/reply25.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "顔1ウケる", :href => "img/content/reply26.png"}
            %img{:src => "img/content/100/reply26.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ジト目", :href => "img/content/reply27.png"}
            %img{:src => "img/content/100/reply27.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "高らかな笑い", :href => "img/content/reply28.png"}
            %img{:src => "img/content/100/reply28.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "(21)", :href => "img/content/reply29.png"}
            %img{:src => "img/content/100/reply29.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ﾄﾞﾔｧ", :href => "img/content/reply30.png"}
            %img{:src => "img/content/100/reply30.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "ドルジ", :href => "img/content/reply31.png"}
            %img{:src => "img/content/100/reply31.png"}/
        .pure-u
          %a{:rel => "lightbox[reply]", :title => "この変態どもが！", :href => "img/content/reply32.png"}
            %img{:src => "img/content/100/reply32.png"}/

        %p その他
        .pure-u
          %a{:rel => "lightbox[ss]", :title => "HSP製回路シミュレータ", :href => "img/content/ss0.png"}
            %img{:src => "img/content/100/ss0.png"}/
        .pure-u
          %a{:rel => "lightbox[ss]", :title => "HSP製回路シミュレータ", :href => "img/content/ss1.png"}
            %img{:src => "img/content/100/ss1.png"}/
        .pure-u
          %a{:rel => "lightbox[ss]", :title => "ブロック崩し", :href => "img/content/ss2.png"}
            %img{:src => "img/content/100/ss2.png"}/
        .pure-u
          %a{:rel => "lightbox[ss]", :title => "STG", :href => "img/content/ss3.png"}
            %img{:src => "img/content/100/ss3.png"}/
        .pure-u
          %a{:rel => "lightbox[ss]", :title => "STG", :href => "img/content/ss4.png"}
            %img{:src => "img/content/100/ss4.png"}/


= Haml::Engine.new(File.read("haml/_footer.haml")).render
