@import url("./font-awesome.min.css");
/* line 6, ../../sass/custom.css.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f5f5f5, #ffffff);
  background-image: -moz-linear-gradient(#f5f5f5, #ffffff);
  background-image: -o-linear-gradient(#f5f5f5, #ffffff);
  background-image: linear-gradient(#f5f5f5, #ffffff);
}

/* line 13, ../../sass/custom.css.scss */
#nologo-content,
#logo-content,
#content {
  margin: 0;
  border-right: 5px solid #ffd893;
  border-left: 5px solid #ffd893;
}

/* line 22, ../../sass/custom.css.scss */
header#logo {
  margin: 0 auto;
}
/* line 25, ../../sass/custom.css.scss */
header#logo #logo-content {
  height: 12em;
  background-color: #ffd893;
  background-image: url("../img/design/header_5_15.png");
  background-repeat: no-repeat;
  background-position: right top;
}
/* line 36, ../../sass/custom.css.scss */
header#logo #nologo-content {
  background-color: #ffd893;
}
/* line 42, ../../sass/custom.css.scss */
header#logo a {
  margin-left: 20px;
  color: #933;
}
/* line 47, ../../sass/custom.css.scss */
header#logo a:hover {
  text-decoration: none;
  color: #c33;
}

/* line 53, ../../sass/custom.css.scss */
article {
  background-color: #fff;
  padding: 30px 20px;
}

/* line 58, ../../sass/custom.css.scss */
#history {
  overflow-y: scroll;
  height: 8em;
  border: 3px solid #aaa;
}

/* line 64, ../../sass/custom.css.scss */
#content {
  line-height: 1.6em;
}
/* line 67, ../../sass/custom.css.scss */
#content section {
  margin-left: 2.0em;
  margin-right: 2.0em;
}
/* line 72, ../../sass/custom.css.scss */
#content a {
  color: #993333;
}
/* line 73, ../../sass/custom.css.scss */
#content a:hover {
  text-decoration: none;
  color: #c33;
}
/* line 78, ../../sass/custom.css.scss */
#content p {
  text-indent: 1.0em;
}
/* line 81, ../../sass/custom.css.scss */
#content table i {
  width: 17px;
  text-align: center;
}

/* line 88, ../../sass/custom.css.scss */
.grid-gallery img {
  border: 2px solid #999;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px / 2px;
  border-radius: 2px / 2px;
}

/* line 94, ../../sass/custom.css.scss */
.list .list-title {
  font-size: 1.2em;
  padding: 5px 10px;
  background-color: #ddd;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
}
/* line 101, ../../sass/custom.css.scss */
.list p {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 107, ../../sass/custom.css.scss */
.order {
  width: 24em;
}
/* line 109, ../../sass/custom.css.scss */
.order p {
  margin-left: 1em;
}
/* line 111, ../../sass/custom.css.scss */
.order p:first-letter {
  margin-left: -1em;
}

/* line 115, ../../sass/custom.css.scss */
nav {
  text-align: center;
  background-color: #fff;
  margin-left: -2.5em;
}
/* line 120, ../../sass/custom.css.scss */
nav ul {
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
}
/* line 126, ../../sass/custom.css.scss */
nav ul li:not(:last-child) a {
  border-bottom: 1px dashed #ddd;
}
/* line 130, ../../sass/custom.css.scss */
nav ul li.menu-heading {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
  display: block;
  color: #556;
  font-size: 90%;
  font-weight: bold;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* line 146, ../../sass/custom.css.scss */
nav li > a {
  display: block;
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}
/* line 155, ../../sass/custom.css.scss */
nav li > a:hover {
  background-color: #eee;
}

/* line 161, ../../sass/custom.css.scss */
footer {
  border-top: 1px dotted #aaa;
  text-align: center;
  margin: 0px 10px 10px 10px;
}
