@charset "utf-8";

section article dl{
  margin:30px 0px 30px 0px;
  width:600px;
}

section article img{
  width:30px;
  height:45px;
  padding:2px;
  border:1px solid #999;
}

section article img:hover{
  position:fixed;
  width:250px;
  height:400px;
  padding:5px;
  border:1px solid #999;
}

  section article dl dt{
    font-size:larger;
    margin:10px 0px 10px 10px;
    padding-left:10px;
    border-left:5px double #069;
  }

  section article dl div.sample{
    height:130px;
    margin-top:20px;
    margin-left:10px;
    padding-left:20px;
    border:3px double #aaa;
  }

