@charset "utf-8";

section img.sample{
  padding-bottom:5px;
  width:150px;
  float:left;
}

section a img.sample:last-child{
  float:none;
}

section a:hover img.sample{
  margin-bottom:-1px;
  border-bottom:1px solid #f00;

  text-decoration:underline;
}


