@charset "utf-8";

section dl{
  margin-top:3em;
}

section dl dt{
  float:left;
  width:300px;
  height:40px;
  padding-bottom:1em;
}

section dl dd{
  width:450px;
  height:40px;
  padding-bottom:1em;
  padding-left:5em;
}


