@charset "utf-8";

section dl{
  margin-top:3em;
}

section dl dt{
  float:left;
  width:200px;
  height:50px;
  padding-bottom:1em;
}

section dl dd{
  width:650px;
  height:50px;
  padding-bottom:1em;
  padding-left:5em;
}


