@charset "utf-8";

body{
/*  background-color:#eef; */
  margin:0px;
  padding:0px;

  background-image:url("../img/cloud.png");
  background-size:cover;
  background-repeat:no-repeat;
}

div#container{
  background-color:#f3f3ff;
  width:90%;
  height:100%;
  margin:auto;
  padding-left:50px;
  
  border-left:5px solid #aaa;
  border-right:5px solid #aaa;
}

header{
/*  background-color:#f00; */
  font-size:x-large;
  width:300px;
}

  header a{
    display:block;
    width:300px;
    
    padding-bottom:10px;

    text-decoration:none;
    color:#06f;
    border-left:3px solid #6af;
    border-right:3px solid #6af;
  }

  header a:hover{
    background-color:#cdf;
    color:#3af;
    border-left:3px solid #069;
    border-right:3px solid #069;
  }

  header img{
    margin:20px 10px 0px 10px;
  }

nav{
/*  background-color:#f00; */
  width:80%;
  height:40px;
}

  nav ul{
    list-style-type:none;
    text-align:center;
    margin:0;
    padding:0;
  }
  
    nav ul li{
      float:left;
      width:100px;
      height:30px;
    
      padding:10px 0px 2px 2px;
    }

      nav ul li a{
        display:block;
        text-decoration:none;
        color:#a40;

        padding-top:10px;
        border-right:2px solid #930;
        border-left:2px solid #930;
      }
      
      nav ul li a:hover{
        background-color:#ddf;
        color:#000;
        margin-top:-5px;
        padding-bottom:5px;

        border-right:2px solid #039;
        border-left:2px solid #039;
      }

      nav ul li span.here{
        border-bottom:4px solid #f90;
        color:#f90;
      }

section{
  width:90%;

  border-top:3px dotted #aaa;
  border-bottom:3px dotted #aaa;
  line-height: 120%;
}

  section a{
    color:#06f;
    text-decoration:none;
  }

  section a:hover{
    color:#3af;
    text-decoration:underline;
  }
  
  section article{
    border-left:3px solid #a55;
    margin-left:10px;
    padding-left:10px;
  }
  
  section article h2{
    background-color:#ccc;
    color:#a00;
    padding:8px 0px 12px 10px;
  }
  
  section article p{
    border-left:3px solid #f90;
    padding-left:10px;
  }

footer{
  margin-top:10px;
  margin-right:10px;
  padding-bottom:30px;

  font-size:small;
}

  footer div#breadcrumb{
    text-align:right;
  }

    footer div#breadcrumb a{
      text-decoration:none;
      color:#06f;

      padding:5px 8px 5px 30px;
      
      border-left:1px solid #999;
    }

    footer div#breadcrumb a:first-child{
      border-left:3px solid #999;
    }

    footer div#breadcrumb a:last-child{
      border-right:3px solid #999;
    }

    footer div#breadcrumb a:hover{
      color:#3af;
      border-bottom:2px dotted #ccc;
    }

  footer span.copyright{
    text-align:left;
  }

  footer span.here{
    margin-right:30px;

    color:#000;
  }



