@charset "utf-8";

section table{
  line-height:1.2em;
  border-spacing:20px 10px;
  margin-bottom:30px;
}

section table tbody tr{
  width:50em;
  height:1.5em;
}

section table tbody th{
  width:11em;
  padding-left:10px;
  border-left:10px double #f90;
  border-bottom:1px solid #f90;
  
  text-align:left;
  font-weight:normal;
}

section table tbody td{
  width:40em;
  padding-left:10px;
  border-bottom:1px solid #f00;
}


