@charset "utf-8";

section div.ss{
  height:130px;
  margin-top:20px;
  margin-left:50px;
  padding-left:20px;
  border:3px double #aaa;
}

section img{
  width:4em;
  height:3em;
  padding:2px;
  border:1px solid #999;
}

section img:hover{
  position:absolute;
  width:40%;
  height:40%;
  padding:5px;
  border:1px solid #999;
}

section dl{
  line-height:1.5em;
  width:50em;
}

section dl dt{
  width:35em;
  margin-top:20px;
  padding-left:10px;
  border-bottom:3px dotted #00f;
}

section dl dt span.name{
  width:230px;
  display:block;

  color:#033;
  border-bottom:1px solid #aaf;
}

section dl dt span.state{
  width:300px;
  height:1em;
  display:block;
  font-size:small;
}

section dl dt span.lang{
  font-size:small;
  color:#093;
}

section dl dd{
  width:40em;
  margin-top:15px;
  padding-left:10px;
  border-bottom:1px solid #069;
}


